HOST=http://localhost
PORT=3000

ADMINER_PORT=3008
BETTER_AUTH_SECRET=zlugWKwhiuoygbzlNu8NesRepUA044wa
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001
DATABASE_HOST=localhost
DATABASE_NAME=template
DATABASE_PASSWORD=template
DATABASE_PORT=5432
DATABASE_USER=template

DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public"
